.about{
    width: 80vw;
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    @media (max-width:885px) {
        margin-top: 190px;
    }
    @media (max-width:600px) {
        flex-direction: column;
    }
    .about-container{
        display: flex;
        flex-direction: column;
        margin-left: 100px;
        margin-top: 50px;
        height: auto;
        @media (max-width:877px) {
            margin-top: 0px;
           margin-left: 50px;

        }
        @media (max-width:600px) {
            margin-top: 20px;
            margin-left: 0px;
        }
       
        

        .text{
           
            h2{
                color: #FEE06D;
                font-family: 'Bungee', ;
                padding-bottom: 15px;
                font-size: 20px;
                

            }
            p{
                color: white;
                font-family: 'Overpass', ;
                width: 500px;
                line-height: 1.2em;
                font-size: 18px;
                @media (max-width:1000px) {
                    font-size: 15px;
                    // width: 300px;
                    width: 70%;
                }
                @media (max-width:770px) {
                    width: 100%;
                }

                
            }

        }
    }
    img{
        display: block;
        width: auto;
        max-height: 500px;
        border: 2px solid #FEE06D;
        @media (max-width:600px) {
            height: 500px;
        }
        @media (max-width:350px) {
            height: 450px;
        }
    }
    .socials{
        padding-top: 20px;
        display: flex;
        transition: .5s;
       
        // a{
            
        // }
        img{
            border: none;
            width: 40px;
            height: 40px;
            padding: 10px 10px 0px 0px;
            transition: .5s;
            &:hover{
                transform: scale(1.2);
            }

        }
        
    }
    .resume{
        background-color: #212121;
        border: 2px solid #FEE06D;
                    padding: 5px 10px;
                    color: #BA5DF4;
                    font-size: 15px;
                font-family: 'Bungee', ;
                transition: .5s;
                margin-top: 12px;

                    &:hover{
                        background-color: #fee06d;
                    }
    }
}